
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}

.main {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.title {
  cursor: pointer;  
}

.loader {
  justify-self: center;
  align-self: center;
}
.main > :not(:nth-child(1)) {
  margin-top: 50px
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform ease-out .5s ;
}

.search-box.no-results {
  transform: translateY(35vh);
}

.search-input {
  margin-top: 20px;
  width: 50%;
} 